.carousel-wrapper, .carousel {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align carousels in the center */
  margin: 100px;
}

/*
.carousel {
  position: relative;
  margin-bottom: 20px;
}
*/

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.slide {
  flex: 0 0 40%;
  scroll-snap-align: start;
  text-align: center;
  margin-right: 20px;
}

.slide img {
  max-width: 100%;
  height: auto;
}

/*
.prev,
.next {
  position: absolute;
  top: 170%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: gray;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

*/

.prev {
  left: 0;
}

.next {
  right: 0;
}

/*.slide p {
  margin-top: 10px;
  color: #ff0000;
  font-size: 16px;
}
*/

@media (max-width: 800px) {
  .carousel .slide img {
    max-width: 90%; /* Adjust the width as needed */
    height: auto;
  }
}


@media (max-width: 800px) {
.carousel-wrapper .slide img {
    max-width: 90%; /* Adjust the width as needed */
    height: auto;
  }
}
