body {
    /*background-color: #fbf8be;*/
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);


}

p,
h2,
h1 {
    color: #234E70;
    margin: 40px;

}

footer {
    text-align: center;
    padding: 5%;
    color: #234E70;
}

/* Styling of the navigation bar */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
}

.navigation li:first-child {
    margin-left: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #234E70;
}

.logo {
    margin-left: 40px;
}

.logo img {
    width: 200px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
}

/* Styling af billeder på portfolio siden */

.Galleri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

/*
.Galleri img {
    height: auto;
    justify-content: center;
    align-items: center;
}


.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1/2;
    justify-items: center;
    gap: 20px;
}

*/

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
}


.Galleri .grid-item img {
    width: 100%;
    height: auto;
    
}

.Galleri .grid-item p {
    text-align: center;
    margin-top: 10px;

}