body {

    background-color: mistyrose;
    /*
    background-color: #fbf8be;
    
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);


background: rgb(255,211,161);
background: linear-gradient(90deg, rgba(255,211,161,1) 0%, rgba(251,248,176,1) 48%);
*/
}

p,
h2,
h1,
h3 {
    color: #ff0000;
    margin: 40px;
    font-family: 'Cormorant Garamond', serif;

}

p a {
    color: #ff0000;
    text-decoration: underline;
    font-size: large;
    font-weight: 500;
}

footer {
    text-align: center;
    padding: 5%;
    color: #ff0000;
    font-family: 'Cormorant Garamond', serif;

}

/* Styling of the navigation bar */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
}

.navigation li:first-child {
    margin-left: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #ff0000;
}

.logo {
    margin-left: 40px;
}

.logo img {
    width: 400px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
}

/* Styling af billeder på portfolio siden */

.Galleri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

/*
.Galleri img {
    height: auto;
    justify-content: center;
    align-items: center;
}


.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1/2;
    justify-items: center;
    gap: 20px;
}

*/


.Galleri .grid-item img {
    width: 100%;
    height: auto;

}

.Galleri .grid-item p {
    text-align: center;
    margin-top: 10px;

}

/* Styling af animationsiden */

/* Grid */
.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

/* Styling af prototypepapir*/

.prototypepapir .grid-item {
    margin: 5%;
}

.prototypepapir .grid-item img {
    width: 50%;
    height: auto;
}

/* Styling af skitser */

.skitser .grid-item {
    margin: 2%;
    /* Se på den her margin igen*/
}

.skitser .grid-item img {
    width: 100%;
    height: auto;
}

.skitser .grid-item p {
    text-align: center;
    margin-top: 10px;
}

/* Styling af teknisk dokumentation */
.teknik .grid-item {
    margin: 5%;
    /* Se på den her margin igen*/
}

.teknik .grid-item img {
    width: 90%;
    height: auto;

}

/* Styling af billede af farvekode */

.farvekode .grid-item {
    margin: 5%;
}

.farvekode .grid-item img {
    width: 40%;
    height: auto;

}

/* Styling af spil baggrunde */

.spilbaggrund .grid-item img {
    width: 100%;
    height: auto;

}

/* Styling af knapper */

.knapper .grid-item img {
    width: 100%;
    height: auto;

}

/* Styling af spil element */

.spilelement .grid-item img {
    width: 100%;
    height: auto;
    grid-row: 1/2;

}

/* Styling af lille blå site */


/* Styling af wireframe */

.wireframe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

.wireframe .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.wireframe .grid-item img {
    width: 100%;
    height: auto;
}

/* Styling af layoutdiagram */

.Layoutdiagram {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

.Layoutdiagram .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Layoutdiagram .grid-item img {
    width: 100%;
    height: auto;
}

/* Styling af ekstra materiale */

.ekstramateriale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

.ekstramateriale .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ekstramateriale .grid-item img {
    width: 100%;
    height: auto;
}

/* Styling af links */

/* Hover effekt */

a:link {
    color: rgb(105, 56, 0);
}

/* visited link */
a:visited {
    color: #ff0000;
}

/* mouse over link */
a:hover {
    color: rgb(105, 56, 0);
}

/* selected link */
a:active {
    color: #ff0000;
    ;
}

/* Styling af CV */

.CV img {
    width: 40%;
    /* Adjust the desired width as needed */
    height: auto;
}

.CV {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling af CTA */

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* Adjust the height as needed */
}

.CTA a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CTA img {
    max-width: 30%;
    height: auto;
}

/* Styling af forside teskst */

.forside {
    text-align: center;
    margin-top: 2%;
    font-size: x-large;
}

.forside p {
    margin: 20px;
    /* Adjust the margin as desired */
    padding: 9px;
}

/* Styling af CTA knap, portfolio site  */
