body {
    background-color: #fbf8be;
}

p {
    color: #234E70;

}

footer {
    text-align: center;
    padding: 5%;
    color: #234E70;
}

/* Styling of the navigation bar */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
}

.navigation li:first-child {
    margin-left: 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #234E70;
}

.logo {
    margin-left: 40px;
}

.logo img {
    width: 200px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
}

/* Styling af billeder på portfolio siden */

.Galleri{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Galleri img{
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1/2;
    justify-items: center;
    gap: 20px;
}

.Galleri .grid-item img {
    width: 100%;
    height: auto;
}